NODE_ENV=development
PORT=7070
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=shiftsync
DB_SYNCHRONIZE=false
DB_LOGGING=true
JWT_SECRET=changeme
JWT_EXPIRES_IN=7d
API_PREFIX=api
API_VERSION=1
